.toast {
  position: fixed;
  left: 50%;
  bottom: -100px; /* startet unsichtbar */
  transform: translateX(-50%);
  background-color: rgba(42, 54, 71, 1);
  color: white;
  padding: 24px 32px;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 500;
  opacity: 0;
  transition: all 0.4s ease;
  z-index: 9999;
}

/* Sichtbarer Zustand */
.toast.show {
  bottom: 50%;
  transform: translate(-50%, 50%);
  opacity: 1;
}

.hidden {
  display: none;
}

/* Chrome, Edge, Safari */
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}
/* IE */
select::-ms-expand {
  display: none;
}

.eventImg {
  position: absolute;
  right: 15px;
  top: 44%;
  /* vertikal zentriert */
  transform: translateY(-50%);
  pointer-events: none;
}

.star {
  margin: 0;
  color: orange;
}
.descriptionImg {
  position: relative;
  bottom: 8px;
  right: 31px;
}

.toastText {
  margin-right: 18px;
}

textarea {
  resize: none;
}

.requiredDate {
  margin-top: -19px;
}
