.bodyAddTask {
  margin: 0;
  background-color: rgba(246, 247, 248, 1);
  overflow-y: auto;
}

.addTaskMain {
  max-width: 1200px;
  margin: 208px auto 0 auto;
  margin-left: 328px;
  padding-bottom: 130px;
}

.taskForm {
  position: relative;
}

.mainTitle {
  color: rgba(0, 0, 0, 1);
  font-size: 61px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  line-height: 1.2;
  margin-bottom: 50px;
}

.h2AddTask {
  font-size: 20px;
  line-height: 1.2;
  gap: 0px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  margin: 0;
  color: rgba(0, 0, 0, 1);
  padding-left: 6px;
}

.headlineTextArea {
  display: flex;
  align-items: center;
}

.contentWrapperAddTask {
  display: flex;
  align-items: flex-start;
}

.mainTitle {
  margin: 0 0 40px 0;
}

.divider {
  border-left: 1px solid #d1d1d1;
  height: 424px;
  color: rgba(209, 209, 209, 1);
}

.inputField {
  width: 418px;
  height: 42px;
  border-radius: 10px;
  border: 1px solid;
  border-color: rgba(209, 209, 209, 1);
  background-color: rgba(255, 255, 255, 1);
  padding-left: 13px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  padding-left: 18px;
  cursor: pointer;
}

.inputField:focus {
  border: 2px solid #88e9fa;
  outline: none;
}

.OptionsContainer {
  margin-bottom: 24px;
  position: relative;
}

.ChoiceHeadline {
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  line-height: 1.2;
}

.buttonRequiredField {
  display: flex;
  justify-content: space-between;
  margin-top: 108px;
  width: 1009px;
  align-items: center;
}

.requiredBottomLeft {
  display: flex;
  align-items: start;
}

.clearButton {
  border-radius: 10px;
  height: 56px;
  width: 100px;
  border: 1px solid;
  border-color: rgba(42, 54, 71, 1);
  background-color: rgba(246, 247, 248, 1);
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.createButton {
  width: 183px;
  height: 56px;
  border-radius: 10px;
  background-color: rgba(42, 54, 71, 1);
  color: white;
  border-radius: 10px;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.2;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.createButtonIcon {
  height: 18px;
  width: 18px;
}
.taskButton {
  display: flex;
  gap: 16px;
}

.categorySelectWrapper {
  position: relative;
  display: inline-block;
}

.taskArrow {
  position: relative;
  right: 24px;
  top: 50%;
  height: 7px;
}

@media (max-width: 1392px) {
  .contentWrapperAddTask {
    display: block;
  }
  .divider {
    display: none;
  }
  .inputField {
    width: 858px;
  }
  .buttonRequiredField {
    margin-top: 70px;
    width: 880px;
  }
}

@media (max-width: 1300px) {
  .inputField {
    width: 679px;
  }
  .mainTitle {
    font-size: 55px;
  }
  .clearButton {
    font-size: 18px;
    height: 50px;
    width: 92px;
  }
  .createButton {
    font-size: 18px;
    height: 50px;
    width: 177px;
  }
  .addTaskMain {
    margin-left: 295px;
    margin-top: 170px;
  }
  .buttonRequiredField {
    width: 700px;
  }
}

@media (max-width: 1063px) {
  .addTaskMain {
    margin-left: 295px;
    margin-top: 170px;
  }
  .inputField {
    width: 560px;
  }
  .buttonRequiredField {
    width: 581px;
  }

  .clearButton {
    font-size: 18px;
    height: 50px;
    width: 92px;
  }
  .createButton {
    font-size: 18px;
    height: 50px;
    width: 177px;
  }
  .mainTitle {
    font-size: 55px;
  }
}

@media (max-width: 901px) {
  .addTaskMain {
    margin-left: 243px;
    margin-top: 150px;
    padding-bottom: 170px;
  }
  .inputField {
    width: 472px;
  }
  .requiredField {
    margin-bottom: 22px;
  }
  .buttonRequiredField {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    width: 775px;
    align-items: center;
  }
  .mainTitle {
    position: sticky;
    top: 80px;
    background: rgba(246, 247, 248, 1);
    padding: 20px;
    z-index: 500;
  }
  .taskButton {
    position: fixed;
    bottom: 80px;
    left: 0;
    width: 718px;
    background: rgba(246, 247, 248, 1);
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    z-index: 1000;
  }
}

@media (max-width: 769px) {
  .addTaskMain {
    margin-top: 130px;
    margin-left: 30px;
    padding-bottom: 200px;
  }
  .inputField {
    width: 521px;
  }
  .taskButton {
    gap: 14px;
    width: 552px;
  }
  .buttonRequiredField {
    width: 620px;
  }
}

@media (max-width: 610px) {
  .addTaskMain {
    margin-left: 17px;
  }
  .ChoiceHeadline {
    font-size: 16px;
  }
  .h2AddTask {
    font-size: 16px;
  }
  .clearButton {
    font-size: 17px;
    height: 49px;
    width: 95px;
  }

  .buttonRequiredField {
    width: 434px;
    flex-direction: column;
    margin-top: 10px;
  }
  .requiredBottomLeft {
    display: flex;
    align-items: start;
    padding-bottom: 41px;
    padding-right: 257px;
  }
  .mainTitle {
    font-size: 47px;
    padding: 20px 0px;
  }
  .inputField {
    width: 248px;
    height: 39px;
    font-size: 16px;
  }
  .createButton {
    font-size: 18px;
    height: 49px;
    width: 147px;
  }
  .taskButton {
    width: 266px;
  }
  .requiredBottomLeft {
    padding-right: 297px;
  }
}
