 
@media (max-width: 1392px) {
  .assignedDropdown {
    width: 880px;
  }
  .assignedToInput {
    width: 883px;
  }
  .assignedDropdown {
    width: 879px;
  }
}

@media (max-width: 1300px) {
  .assignedToInput {
    width: 705px;
  }
  .assignedDropdown {
    width: 700px;
  }
}
@media (max-width: 1063px) {
  .assignedToInput {
    width: 589px;
  }
  .assignedDropdown {
    width: 580px;
  }
}
@media (max-width: 910px) {
  .assignedToInput {
    width: 495px;
  }
  .assignedDropdown {
    width: 496px;
  }
}

@media (max-width: 769px) {
  .assignedToInput {
    width: 545px;
  }
  .assignedDropdown {
    width: 542px;
  }
}

@media (max-width: 720px) {
  .assignedToInput {
    width: 400px;
  }
  .assignedDropdown {
    width: 395px;
  }
}

@media (max-width: 640px) {
  .assignedDropdownArrow {
    height: 5px;
  }
  .assignedCircle {
    width: 34px;
    height: 34px;
    font-size: 16px;
  }
  .contactName {
    font-size: 16px;
  }
  .contactInitialsCircle {
    width: 34px;
    height: 34px;
  }
  .assignedToInput {
    width: 423px;
    height: 44px;
  }
  .assignedDropdown {
    width: 410px;
  }
}
@media (max-width: 560px) {
  .assignedToInput {
    width: 359px;
  }
  .assignedDropdown {
    width: 350px;
  }
}
@media (max-width: 480px) {
  .assignedToInput {
    width: 322px;
  }
  .assignedDropdown {
    width: 310px;
  }
}
@media (max-width: 400px) {
  .assignedToInput {
    width: 273px;
  }
  .assignedDropdown {
    width: 265px;
  }
}
