
@media (max-width: 1392px) {
  .subTaskContent {
    width: 840px;
  }
  .subTaskEditContainer {
    width: 945px;
  }
  .subTaskItem {
    width: 845px;
  }
  .subTaskEditIcons {
    right: 80px;
  }
  .inputField.bottomInput {
    width: 880px;
  }
  .subtaskInputContainer {
    width: 880px;
  }

  .subTaskList {
    width: 880px;
  }
}
@media (max-width: 1300px) {
  .subTaskItem {
    padding-right: 80px;
    width: 595px;
  }
  .subTaskEditContainer {
    width: 765px;
  }
  .subTaskContent {
    width: 653px;
  }
  .descriptionImg {
    display: none;
  }
  .subTaskList {
    width: 72%;
  }
  .subTaskEditIcons {
    right: 89px;
  }
  .inputField.bottomInput {
    width: 700px;
  }
  .subtaskInputContainer {
    width: 700px;
  }
  .subTaskEditInput {
    width: 880px;
  }
  .subTaskList {
    width: 700px;
  }
}
@media (max-width: 1063px) {
  .subTaskItem {
    width: 475px;
  }
  .subTaskEditContainer {
    width: 646px;
  }
  .subTaskContent {
    width: 540px;
  }
  .subTaskEditIcons {
    right: 81px;
  }
  .inputField.bottomInput {
    width: 580px;
  }
  .subtaskInputContainer {
    width: 580px;
  }
  .subTaskEditInput {
    width: 700px;
  }
  .subTaskList {
    width: 580px;
  }
}

@media (max-width: 910px) {
  .subTaskItem {
    width: 380px;
  }
  .subTaskContent {
    width: 450px;
  }
  .subTaskEditContainer {
    width: 555px;
  }
  .inputField.bottomInput {
    width: 490px;
  }
  .subtaskInputContainer {
    width: 490px;
  }
  .subTaskEditInput {
    width: 580px;
  }
  .subTaskEditInput {
    width: 490px;
  }
  .subTaskList {
    width: 485px;
    padding-right: 14px;
  }
}

@media (max-width: 769px) {
  .inputField.bottomInput {
    width: 538px;
  }
  .subTaskEditContainer {
    width: 604px;
  }
  .subTaskContent {
    width: 499px;
  }
  .subTaskItem {
    width: 426px;
  }
  .subtaskInputContainer {
    width: 530px;
  }
  .subTaskList {
    width: 535px;
  }
}

@media (max-width: 750px) {
  .subTaskContent {
    width: 503px;
  }
  .subTaskItem {
    width: 432px;
  }
  .subTaskEditContainer {
    width: 605px;
  }
  .inputField.bottomInput {
    width: 541px;
  }
  .subtaskInputContainer {
    width: 460px;
  }
  .subTaskEditInput {
    width: 541px;
  }
}

@media (max-width: 720px) {
  .inputField.bottomInput {
    width: 395px;
  }
  .subTaskIconsContainer {
    right: 82px;
  }
  .subTaskContent {
    width: 357px;
  }
  .subTaskEditContainer {
    width: 462px;
  }
  .subTaskItem {
    width: 285px;
  }
  .subTaskList {
    width: 390px;
  }
  .inputField.bottomInput {
    width: 397px;
  }
} 
