.addTaskLabel {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.addTaskLabelDescription {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.addTaskLabelDate {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;
}

.taskName {
  font-weight: 400;
  height: 34px;
  line-height: 1.2;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}

.taskDescription {
  font-weight: 400;
  height: 20px;
  line-height: 1.2;
  font-size: 20px;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
}

.taskNameContainer textarea {
  border-radius: 10px;
  border: 1px solid;
  width: 440px;
  border-color: rgba(209, 209, 209, 1);
  padding-top: 11px;
  padding-left: 22px;
  cursor: pointer;
}

.taskNameContainer textarea:focus {
  border: 2px solid #88e9fa; /* kräftiges Blau */
  outline: none;
}

.taskDescriptionContainer textarea {
  border-radius: 20px;
  width: 440px;
  height: 120px;
  padding-left: 18px;
  padding-top: 11px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  border: unset;
  box-shadow: 0 0 0 1px rgba(209, 209, 209, 1);
}

.taskDescriptionContainer textarea:focus {
  box-shadow: 0 0 0 2px #88e9fa; /* Fokus "Border" */
  outline: none;
}

.addTaskDateContainer input {
  position: relative;
  border-radius: 10px;
  width: 440px;
  height: 48px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  border: unset;
  box-shadow: 0 0 0 1px rgba(209, 209, 209, 1);
  color: black;
}

.addTaskDateContainer input:invalid {
  color: rgba(209, 209, 209, 1);
}

.addTaskDateContainer {
  position: relative;
}
.addTaskDateContainer input:focus {
  box-shadow: 0 0 0 2px #88e9fa;
  outline: none;
}
.taskDateInput {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: rgba(0, 0, 0, 1);
  padding-left: 18px;
  border: unset;
  box-shadow: 0 0 0 1px rgba(209, 209, 209, 1);
}

.taskDateInput::placeholder {
  color: rgba(209, 209, 209, 1);
  font-weight: 400;
}

.requiredField {
  color: rgba(230, 0, 38, 0);
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter";
  margin-top: 3px;
  margin-bottom: 9px;
}

.requiredField.visible {
  color: rgba(230, 0, 38, 1);
}

.input-error {
  border: 1px solid #ff3d3d !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-image: url("../../assets/img/event.svg");
  display: inline-block;
  width: 1em;
  height: 1em;
  padding: 1px 2px;
  background-color: transparent;
  cursor: pointer;
  display: block;
  margin-right: 10px;
}

.ChoiceOption {
  width: 440px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid;
  border-color: rgba(209, 209, 209, 1);
  background-color: rgba(255, 255, 255, 1);
  padding-left: 13px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  padding-left: 18px;
  cursor: pointer;
}

.choiceContact {
  padding-left: 9px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.addTask textarea,
.addTask input,
.addTask select {
  border: unset;
  border-radius: 10px;
  border: 1px solid rgba(209, 209, 209, 1);
}

.leftContent {
  margin-right: 30px;
}

.rightContent {
  margin-left: 54px;
}

.TaskCategoryInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categoryDropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  background-color: white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.categoryOption {
  cursor: pointer;
  padding: 8px 16px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.categoryOption:hover {
  background-color: #bfbfbf33;
}

.categoryOption.selected {
  background-color: rgba(42, 54, 71, 1);
  color: white;
}

.categoryOption {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  font-size: 18px;
}

.categoryOption:hover {
  background-color: #bfbfbf33;
}

@media (max-width: 1392px) {
  .taskDescriptionContainer textarea {
    width: 860px;
  }
  .taskNameContainer textarea {
    width: 860px;
  }
  .addTaskDateContainer input {
    width: 860px;
  }
  .rightContent {
    margin-left: 0px;
  }
  .ChoiceOption {
    width: 883px;
    height: 50px;
  }
}

@media (max-width: 1300px) {
  .taskDescriptionContainer textarea {
    width: 680px;
  }
  .taskNameContainer textarea {
    width: 680px;
  }
  .addTaskDateContainer input {
    width: 680px;
  }
  .ChoiceOption {
    width: 701px;
  }
}

@media (max-width: 1063px) {
  .taskDescriptionContainer textarea {
    width: 570px;
  }
  .taskNameContainer textarea {
    width: 570px;
  }
  .addTaskDateContainer input {
    width: 570px;
  }
  .ChoiceOption {
    width: 586px;
  }
}

@media (max-width: 910px) {
  .taskNameContainer textarea {
    width: 475px;
  }
  .taskDescriptionContainer textarea {
    width: 475px;
  }
  .addTaskDateContainer input {
    width: 475px;
  }
  .ChoiceOption {
    width: 492px;
  }
}

@media (max-width: 769px) {
  .taskNameContainer textarea {
    width: 530px;
    padding-top: 10px;
  }
  .taskname {
    height: 31px;
    font-size: 18px;
  }
  .taskDescriptionContainer textarea {
    width: 530px;
    height: 110px;
  }
  .addTaskDateContainer input {
    width: 530px;
  }
  .ChoiceOption {
    width: 545px;
  }
  .addTaskLabel {
    margin-bottom: 20px;
  }
  .addTaskLabelDescription {
    margin-bottom: 20px;
  }
}

@media (max-width: 610px) {
  .taskname {
    font-size: 16px;
    height: 29px;
  }
  .taskNameContainer textarea {
    width: 258px;
    padding-top: 10px;
    font-size: 16px;
    height: 27px;
  }
  .taskDescription {
    font-size: 16px;
  }
  .choiceContact {
    font-size: 16px;
  }
  .ChoiceOption {
    width: 274px;
    font-size: 16px;
    height: 46px;
  }
  .categoryOption {
    font-size: 16px;
  }
  .taskDescriptionContainer textarea {
    width: 263px;
    height: 80px;
  }
  .addTaskDateContainer input {
    width: 263px;
    font-size: 16px;
    height: 40px;
  }
}
