
@media (max-width: 1392px) {
  .taskDescriptionContainer textarea {
    width: 860px;
  }
  .taskNameContainer textarea {
    width: 860px;
  }
  .addTaskDateContainer input {
    width: 860px;
  }
  .rightContent {
    margin-left: 0px;
  }
  .ChoiceOption {
    width: 883px;
    height: 50px;
  }
}

@media (max-width: 1300px) {
  .taskDescriptionContainer textarea {
    width: 680px;
  }
  .taskNameContainer textarea {
    width: 680px;
  }
  .addTaskDateContainer input {
    width: 680px;
  }
  .ChoiceOption {
    width: 701px;
  }
}

@media (max-width: 1063px) {
  .taskDescriptionContainer textarea {
    width: 570px;
  }
  .taskNameContainer textarea {
    width: 570px;
  }
  .addTaskDateContainer input {
    width: 570px;
  }
  .ChoiceOption {
    width: 586px;
  }
}

@media (max-width: 910px) {
  .taskNameContainer textarea {
    width: 475px;
  }
  .taskDescriptionContainer textarea {
    width: 475px;
  }
  .addTaskDateContainer input {
    width: 475px;
  }
  .ChoiceOption {
    width: 492px;
  }
}

@media (max-width: 769px) {
  .taskNameContainer textarea {
    width: 530px;
    padding-top: 10px;
  }
  .taskname {
    height: 31px;
    font-size: 18px;
  }
  .taskDescriptionContainer textarea {
    width: 530px;
    height: 110px;
  }
  .addTaskDateContainer input {
    width: 530px;
  }
  .ChoiceOption {
    width: 545px;
  }
  .addTaskLabel {
    margin-bottom: 20px;
  }
  .addTaskLabelDescription {
    margin-bottom: 20px;
  }
}

@media (max-width: 720px) {
  .taskNameContainer textarea {
    width: 390px;
    padding-top: 10px;
  }
  .taskDescriptionContainer textarea {
    width: 390px;
  }
  .addTaskDateContainer input {
    width: 390px;
  }
  .ChoiceOption {
    width: 400px;
  }
}

@media (max-width: 640px) {
  .taskname {
    font-size: 16px;
    height: 29px;
  }
  .taskNameContainer textarea {
    width: 410px;
    padding-top: 10px;
    font-size: 16px;
    height: 27px;
  }
  .taskDescription {
    font-size: 16px;
  }
  .choiceContact {
    font-size: 16px;
  }
  .ChoiceOption {
    width: 420px;
    font-size: 16px;
    height: 46px;
  }
  .categoryOption {
    font-size: 16px;
  }
  .taskDescriptionContainer textarea {
    width: 410px;
    height: 80px;
  }
  .addTaskDateContainer input {
    width: 410px;
    font-size: 16px;
    height: 40px;
  }
}
@media (max-width: 560px) {
  .taskNameContainer textarea {
    width: 350px;
  }
  .taskDescriptionContainer textarea {
    width: 350px;
  }
  .addTaskDateContainer input {
    width: 350px;
  }
  .ChoiceOption {
    width: 358px;
  }
}
@media (max-width: 480px) {
  .taskNameContainer textarea {
    width: 310px;
  }
  .taskDescriptionContainer textarea {
    width: 310px;
  }
  .addTaskDateContainer input {
    width: 310px;
  }
  .ChoiceOption {
    width: 320px;
  }
}
@media (max-width: 400px) {
  .taskNameContainer textarea {
    width: 258px;
  }
  .taskDescriptionContainer textarea {
    width: 258px;
  }
  .addTaskDateContainer input {
    width: 258px;
  }
  .ChoiceOption {
    width: 273px;
  }
}
