.subtaskInputContainer {
  position: relative;
  width: fit-content; /* passt sich deiner festen Input-Breite an */
}
.subtaskIcon {
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.subTaskIconsContainer {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.spacer {
  width: 1px;
  height: 23px;
  background-color: rgba(209, 209, 209, 1);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.subtaskInputContainer:focus-within .spacer {
  opacity: 1;
  pointer-events: auto;
}
.subtaskInputContainer:focus-within .subtaskIcon {
  opacity: 1;
  pointer-events: auto;
}

.subtaskIcon:hover {
  opacity: 0;
}

.subTaskContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subTaskItem {
  list-style: none;
  position: relative;
  padding: 5px 5px 5px 30px;
  border-radius: 10px;
  margin-top: 8px;
}

.subTaskItem::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  background-color: #a8a8a8;
  border-radius: 50%;
  transition: all 0.15s ease;
}

.subTaskItem.editing::before {
  display: none; /* Punkt verschwindet */
}

.subTaskItem:not(.editing):hover {
  background-color: rgba(240, 240, 240, 1);
}

.subTaskList {
  padding-left: 0; /* entfernt Browser Default Einrückung */
  margin: 0;
  padding-right: 20px;
  list-style: none;
  width: 440px;
}

.subTaskItem.editing {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.Edit {
  opacity: 1;
}

.subTaskActions {
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.subTaskEditInput {
  width: 100%;
  height: 32px;
  border: unset;
  border-bottom: 1px solid rgba(0, 93, 255, 1);
  outline: none;
  padding-left: 20px;
  font-size: 16px;
  line-height: 32px;
  box-sizing: border-box;
}
.checkEdit {
  height: 13px;
  object-fit: contain;
}
.subTaskEditIcons {
  position: absolute; /* 🔥 KEY FIX */
  right: 12px; /* sitzt im Input rechts */
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

.subTaskEditContainer {
  display: flex;
  align-items: center;
  width: 100%; /* statt 434px */
  position: relative;
}

.SubTaskField {
  color: black;
}
.subTaskText {
  display: flex;
  align-items: center;
  min-height: 32px;
}

@media (max-width: 1392px) {
  .subTaskContent {
    width: 840px;
  }
  .subTaskEditContainer {
    width: 880px;
  }
  .subTaskItem {
    width: 845px;
  }
  .subTaskEditIcons {
    right: 17px;
  }
}
@media (max-width: 1300px) {
  .subTaskItem {
    width: 100%;
  }
  .subTaskEditContainer {
    width: 700px;
  }
  .subTaskContent {
    width: 653px;
  }
  .descriptionImg {
    display: none;
  }
  .subTaskList {
    width: 72%;
  }
  .subTaskEditIcons {
    right: 24px;
  }
}
@media (max-width: 1063px) {
  .subTaskItem {
    width: 548px;
  }
  .subTaskEditContainer {
    width: 580px;
  }
  .subTaskContent {
    width: 540px;
  }
  .subTaskEditIcons {
    right: 16px;
  }
}

@media (max-width: 901px) {
  .subTaskItem {
    width: 455px;
  }
  .subTaskContent {
    width: 450px;
  }
  .subTaskEditContainer {
    width: 490px;
  }
}

@media (max-width: 750px) {
  .subTaskContent {
    width: 503px;
  }
  .subTaskItem {
    width: 511px;
  }
  .subTaskEditContainer {
    width: 541px;
  }
}
@media (max-width: 610px) {
  .subTaskActions {
    gap: 3px;
  }
  .subTaskEditIcons {
    right: 10px;
    gap: 3px;
  }
  .subTaskStar {
    display: flex;
  }
  .subTaskContent {
    width: 230px;
  }
  .subTaskItem {
    width: 235px;
  }
  .subTaskEditContainer {
    width: 264px;
  }
  .subTaskIcons {
    height: 20px;
  }
  .subTaskIconsCheck {
    height: 20px;
  }
  .subTaskIconsContainer {
    gap: 3px;
  }
  .spacer {
    margin-right: 3px;
  }
}
