
@media (max-width: 1392px) {
  .priority {
    gap: 237px;
  }
  .priorityHeadline {
    margin-top: 24px;
    margin-bottom: 13px;
  }
}

@media (max-width: 1300px) {
  .priority {
    gap: 147px;
  }
}

@media (max-width: 1063px) {
  .priority {
    gap: 90px;
  }
}

@media (max-width: 910px) {
  .priority {
    gap: 43px;
    margin-top: 15px;
  }
}
@media (max-width: 769px) {
  .priority {
    gap: 77px;
    margin-top: 25px;
  }
  .priorityButton {
    width: 130px;
    height: 46px;
    font-size: 18px;
  }
}

@media (max-width: 720px) {
  .priority {
    gap: 7px;
  }
}

@media (max-width: 640px) {
  .priority {
    gap: 12px;
    margin-top: 18px;
  }
  .priorityButton {
    height: 43px;
    font-size: 16px;
    gap: 5px;
  }
  .priority {
    gap: 57px;
    margin-top: 25px;
    width: 425px;
  }

  .priorityHeadline {
    margin-top: 10px;
  }
}
@media (max-width: 560px) {
  .priority {
    gap: 41px;
    width: 362px;
  }
}
@media (max-width: 480px) {
  .priority {
    gap: 19px;
    width: 326px;
  }
}
@media (max-width: 400px) {
  .priority {
    gap: 11px;
    width: 273px;
  }
}
