.subtaskInputContainer {
  position: relative;
  width: 440px;
}
.bottomInputContainer {
  width: 100%;
}

.inputField.bottomInput {
  overflow-y: hidden;
  resize: none;
  font-family: "Inter", sans-serif;
  width: 440px;
  height: 43px;
  display: block;
  box-sizing: border-box;
  font-size: 20px;
  outline: none;
  padding: 8px 10px;
  padding-right: 60px;
  border-radius: 10px;
  padding-top: 9px;
  padding-left: 20px;
  padding-right: 80px;
  border: unset;
  box-shadow: 0 0 0 1px rgba(209, 209, 209, 1);
}

.inputField.bottomInput::placeholder {
  color: rgba(209, 209, 209, 1);
}

.inputField.bottomInput:focus {
  box-shadow: 0 0 0 2px #88e9fa;
  outline: none;
}

.subtaskIcon {
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.subTaskIconsContainer {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.spacer {
  width: 1px;
  height: 23px;
  background-color: rgba(209, 209, 209, 1);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.subtaskInputContainer:focus-within .spacer {
  opacity: 1;
  pointer-events: auto;
}
.subtaskInputContainer:focus-within .subtaskIcon {
  opacity: 1;
  pointer-events: auto;
}

.subTaskContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.subTaskItem {
  list-style: none;
  position: relative;
  padding: 5px 5px 5px 30px;
  border-radius: 10px;
  margin-top: 8px;
}

.subTaskItem::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  background-color: #a8a8a8;
  border-radius: 50%;
  transition: all 0.15s ease;
}

.subTaskItem.editing::before {
  display: none;
}

.subTaskItem:not(.editing):hover {
  background-color: rgba(240, 240, 240, 1);
}

.subTaskList {
  padding-left: 0;
  margin: 0;
  padding-right: 10px;
  list-style: none;
  width: 440px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
  scrollbar-width: thin;
  scrollbar-color: rgba(116, 113, 113, 0.178) transparent;
}

.subTaskList::-webkit-scrollbar-track {
  background: transparent;
}

.subTaskList::-webkit-scrollbar-thumb {
  background-color: rgba(120, 120, 120, 0.35);
  border-radius: 999px;
  border: 1px solid transparent;
  background-clip: content-box;
}

.subTaskList::-webkit-scrollbar {
  width: 8px;
}

.subTaskList::-webkit-scrollbar-thumb:hover {
  background-color: rgba(120, 120, 120, 0.55);
}

.subTaskItem.editing {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.Edit {
  opacity: 1;
}

.subTaskActions {
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.subTaskEditInput {
  overflow-y: hidden;
  resize: none;
  width: 100%;
  height: 32px;
  border: unset;
  border-bottom: 1px solid rgba(41, 171, 226, 1);
  outline: none;
  padding-left: 20px;
  font-size: 16px;
  box-sizing: border-box;
  resize: none;
  flex: 1;
  font-family: "Inter", sans-serif;
  padding-top: 5px;

  white-space: pre-wrap;
  overflow-wrap: break-word;
  padding-right: 90px;
}

.checkEdit {
  height: 13px;
  object-fit: contain;
}
.subTaskEditIcons {
  right: 81px;
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  position: relative;
  top: 4px;
}

.subTaskEditContainer {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  width: 510px;
  position: relative;
  z-index: 2;
}

.SubTaskField {
  color: black;
}
.subTaskText {
  display: flex;
  align-items: center;
  min-height: 32px;
  flex: 1;
  word-break: break-word;
  overflow-wrap: break-word;
  max-width: 295px;
}

@media (max-width: 1392px) {
  .subTaskContent {
    width: 840px;
  }
  .subTaskEditContainer {
    width: 945px;
  }
  .subTaskItem {
    width: 845px;
  }
  .subTaskEditIcons {
    right: 80px;
  }
  .inputField.bottomInput {
    width: 880px;
  }
  .subtaskInputContainer {
    width: 880px;
  }

  .subTaskList {
    width: 880px;
  }
}
@media (max-width: 1300px) {
  .subTaskItem {
    padding-right: 80px;
    width: 595px;
  }
  .subTaskEditContainer {
    width: 765px;
  }
  .subTaskContent {
    width: 653px;
  }
  .descriptionImg {
    display: none;
  }
  .subTaskList {
    width: 72%;
  }
  .subTaskEditIcons {
    right: 89px;
  }
  .inputField.bottomInput {
    width: 700px;
  }
  .subtaskInputContainer {
    width: 700px;
  }
  .subTaskEditInput {
    width: 880px;
  }
  .subTaskList {
    width: 700px;
  }
}
@media (max-width: 1063px) {
  .subTaskItem {
    width: 475px;
  }
  .subTaskEditContainer {
    width: 646px;
  }
  .subTaskContent {
    width: 540px;
  }
  .subTaskEditIcons {
    right: 81px;
  }
  .inputField.bottomInput {
    width: 580px;
  }
  .subtaskInputContainer {
    width: 580px;
  }
  .subTaskEditInput {
    width: 700px;
  }
  .subTaskList {
    width: 580px;
  }
}

@media (max-width: 910px) {
  .subTaskItem {
    width: 380px;
  }
  .subTaskContent {
    width: 450px;
  }
  .subTaskEditContainer {
    width: 555px;
  }
  .inputField.bottomInput {
    width: 490px;
  }
  .subtaskInputContainer {
    width: 490px;
  }
  .subTaskEditInput {
    width: 580px;
  }
  .subTaskEditInput {
    width: 490px;
  }
  .subTaskList {
    width: 485px;
    padding-right: 14px;
  }
}

@media (max-width: 769px) {
  .inputField.bottomInput {
    width: 538px;
  }
  .subTaskEditContainer {
    width: 604px;
  }
  .subTaskContent {
    width: 499px;
  }
  .subTaskItem {
    width: 426px;
  }
  .subtaskInputContainer {
    width: 530px;
  }
  .subTaskList {
    width: 535px;
  }
}

@media (max-width: 750px) {
  .subTaskContent {
    width: 503px;
  }
  .subTaskItem {
    width: 432px;
  }
  .subTaskEditContainer {
    width: 605px;
  }
  .inputField.bottomInput {
    width: 541px;
  }
  .subtaskInputContainer {
    width: 460px;
  }
  .subTaskEditInput {
    width: 541px;
  }
}

@media (max-width: 720px) {
  .inputField.bottomInput {
    width: 395px;
  }
  .subTaskIconsContainer {
    right: 82px;
  }
  .subTaskContent {
    width: 357px;
  }
  .subTaskEditContainer {
    width: 462px;
  }
  .subTaskItem {
    width: 285px;
  }
  .subTaskList {
    width: 390px;
  }
  .inputField.bottomInput {
    width: 397px;
  }
}

@media (max-width: 640px) {
  .subTaskActions {
    gap: 3px;
  }
  .subTaskEditIcons {
    right: 76px;
    gap: 3px;
  }
  .subTaskStar {
    display: flex;
  }
  .subTaskContent {
    width: 372px;
  }
  .subTaskItem {
    width: 300px;
  }
  .subTaskEditContainer {
    width: 472px;
  }
  .subTaskIcons {
    height: 20px;
  }
  .subTaskIconsCheck {
    height: 20px;
  }
  .subTaskIconsContainer {
    gap: 3px;
    right: 20px;
  }
  .spacer {
    margin-right: 3px;
  }
  .subTaskList {
    width: 415px;
    padding-right: 0px;
  }
  .inputField.bottomInput {
    max-width: 100%;
    padding-left: 17px;
    padding-right: 62px;
    font-size: 16px;
    padding-top: 11px;
  }
  .inputField.bottomInput {
    width: 415px;
  }
  .subtaskInputContainer {
    width: 415px;
  }
}
@media (max-width: 560px) {
  .subtaskInputContainer {
    width: 353px;
  }
  .subTaskContent {
    width: 309px;
  }
  .subTaskEditContainer {
    width: 409px;
  }
  .subTaskIconsContainer {
    right: 22px;
  }
  .subTaskItem {
    width: 355px;
  }
  .subTaskList {
    width: 358px;
  }
}
@media (max-width: 480px) {
  .subtaskInputContainer {
    width: 314px;
  }
  .subTaskEditContainer {
    width: 370px;
  }
  .subTaskContent {
    width: 268px;
  }
  .subtaskitem {
    width: 200px;
  }
  .subTaskList {
    width: 314px;
  }
}
@media (max-width: 400px) {
  .subtaskInputContainer {
    width: 270px;
  }
  .subTaskContent {
    width: 225px;
  }
  .subtaskitem {
    width: 153px;
  }
  .subTaskEditContainer {
    width: 328px;
  }
  .subTaskList {
    width: 270px;
  }
}
