.priority {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
  margin-top: 6px;
}

.priorityButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 136px;
  height: 51px;
  background-color: white;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.25);
  border: unset;
  color: black;
}

.priorityButton:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.priorityButton.urgent.active {
  background-color: #ff3d00;
  color: white;
}

.priorityButton.medium.active {
  background-color: rgba(255, 168, 0, 1);
  color: white;
}

.priorityButton.low.active {
  background-color: #7ae229;
  color: white;
}

.priorityButton .priorityIcon {
  filter: none;
}

.priorityButton.active .priorityIcon {
  filter: brightness(0) invert(1);
}

@media (max-width: 1392px) {
  .priority {
    gap: 237px;
  }
  .priorityHeadline {
    margin-top: 24px;
    margin-bottom: 13px;
  }
}

@media (max-width: 1300px) {
  .priority {
    gap: 147px;
  }
}

@media (max-width: 1063px) {
  .priority {
    gap: 90px;
  }
}

@media (max-width: 910px) {
  .priority {
    gap: 43px;
    margin-top: 15px;
  }
}
@media (max-width: 769px) {
  .priority {
    gap: 77px;
    margin-top: 25px;
  }
  .priorityButton {
    width: 130px;
    height: 46px;
    font-size: 18px;
  }
}
@media (max-width: 610px) {
  .priority {
    gap: 12px;
    margin-top: 18px;
  }
  .priorityButton {
    width: 121px;
    height: 43px;
    font-size: 16px;
  }
  .priority {
    gap: 7px;
    margin-top: 25px;
    width: 280px;
  }
  .priorityButton {
    gap: 5px;
  }
  .priorityHeadline {
    margin-top: 10px;
  }
}
