
@media (max-width: 1063px) {
  .descriptionImg {
    position: relative;
    bottom: 29px;
    left: 563px;
  }
}

@media (max-width: 910px) {
  .descriptionImg {
    position: relative;
    bottom: 29px;
    left: 674px;
  }
  .eventImg {
    position: absolute;
    right: 19px;
    transform: translateY(-50%);
    pointer-events: none;
  }
}

@media (max-width: 720px) {
}

@media (max-width: 640px) {
  .toast {
    font-size: 16px;
    padding: 16px 20px;
    gap: 8px;
    max-width: 85%;
  }
  .toastIcon {
    width: 16px;
    height: 16px;
  }
  .checkBox {
    width: 20px;
    height: 20px;
  }
  .checkEdit {
    padding-left: 2px;
  }
}

@media (max-width: 640px) {
  .subTaskActions {
    gap: 3px;
  }
  .subTaskEditIcons {
    right: 76px;
    gap: 3px;
  }
  .subTaskStar {
    display: flex;
  }
  .subTaskContent {
    width: 372px;
  }
  .subTaskItem {
    width: 300px;
  }
  .subTaskEditContainer {
    width: 472px;
  }
  .subTaskIcons {
    height: 20px;
  }
  .subTaskIconsCheck {
    height: 20px;
  }
  .subTaskIconsContainer {
    gap: 3px;
    right: 20px;
  }
  .spacer {
    margin-right: 3px;
  }
  .subTaskList {
    width: 415px;
    padding-right: 0px;
  }
  .inputField.bottomInput {
    max-width: 100%;
    padding-left: 17px;
    padding-right: 62px;
    font-size: 16px;
    padding-top: 11px;
  }
  .inputField.bottomInput {
    width: 415px;
  }
  .subtaskInputContainer {
    width: 415px;
  }
}
@media (max-width: 560px) {
  .subtaskInputContainer {
    width: 353px;
  }
  .subTaskContent {
    width: 309px;
  }
  .subTaskEditContainer {
    width: 409px;
  }
  .subTaskIconsContainer {
    right: 22px;
  }
  .subTaskItem {
    width: 355px;
  }
  .subTaskList {
    width: 358px;
  }
}
@media (max-width: 480px) {
  .subtaskInputContainer {
    width: 314px;
  }
  .subTaskEditContainer {
    width: 370px;
  }
  .subTaskContent {
    width: 268px;
  }
  .subtaskitem {
    width: 200px;
  }
  .subTaskList {
    width: 314px;
  }
}
@media (max-width: 400px) {
  .subtaskInputContainer {
    width: 270px;
  }
  .subTaskContent {
    width: 225px;
  }
  .subtaskitem {
    width: 153px;
  }
  .subTaskEditContainer {
    width: 328px;
  }
  .subTaskList {
    width: 270px;
  }
  .toast {
    font-size: 14px;
    padding: 14px 16px;
  }
} 
