:root{
    --boardWith: 1100px;
}

body{
    background-color: var( --GlobalBackgroundWhite);
}
.addTaskContainer {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .addTaskContainer h1{
    font-size: 73px;
 }

 .gap32px {
     gap: 32px;
 }

 .searchBar {
     display: flex;
     box-sizing: border-box;
     border: 1px solid var(--GlobalBorderColorGray);
     border-radius: 10px;
     background-color: var(--GlobalWhite);
     padding: 8px 16px 8px 16px;
     width: 312px;
 }

 .searchBar input {
     border: none;
     background-color: transparent;
     font-size: 24px;
     width: 230px;
 }

 .tableCategories td {
     display: flex;
     justify-content: space-between;
     color: #42526E;
     font-weight: 700;
     font-size: 20px;
     padding-right: 25px;
 }

 .tablecontainer {
     margin-top: 20px;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 table {
     border-collapse: collapse;
     width: var(--boardWith);
 }

 tr {
     display: flex;
     height: 430px;
 }

 .tableCategories{
    height: unset !important;
 }

 td {
     display: flex;
     flex-wrap: wrap;
     align-content: flex-start;
     gap: 5px;
     width: 100%;
 }

 td div {
     height: 215px;
     width: 252px;
     border: 2px solid black;
     border-radius: 24px;
     margin-top: 5px;
     text-align: center;
 }

 .tableCategories button{
    background-color: transparent;
    font-size: 20px;
    border: 2px solid var( --GlobalBlue);
    border-radius: 8px;
    color: var( --GlobalBlue);
 }

 .tableCategories button:hover{
    border: 2px solid var(--GlobalLightBlue);
    color: var(--GlobalLightBlue);
    cursor: pointer;
 }

 .highlightTask {
     height: 215px;
     width: 252px;
     border: 1px dotted var(--GlobalBorderColorGray);
     border-radius: 30px;
     margin-top: 5px;
 }

 .noTaskField{
    border-radius: 10px !important;
    border: 1px dotted var(--GlobalBorderColorGray) !important;
    height: 48px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: #E7E7E7 !important;
    color: var(--GlobalBorderColorGray)!important;
 }

 .rotate5deg{
    transform: rotate(5deg);
 }

 .noTaskFound{
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--boardWith);
 }

 .displayNone{
    display: none !important;
 }