:root {
    --boardWith: 1100px;
}

body {
    background-color: var(--GlobalBackgroundWhite);
}

.addTaskContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addTaskContainer h1 {
    font-size: 73px;
}

.gap32px {
    gap: 32px;
}

.searchBar {
    display: flex;
    box-sizing: border-box;
    border: 1px solid var(--GlobalBorderColorGray);
    border-radius: 10px;
    background-color: var(--GlobalWhite);
    padding: 8px 16px 8px 16px;
    width: 312px;
}

.searchBar input {
    border: none;
    background-color: transparent;
    font-size: 24px;
    width: 230px;
}

.tableCategories td {
    display: flex;
    justify-content: space-between;
    color: #42526E;
    font-weight: 700;
    font-size: 20px;
    padding-right: 25px;
}

.tablecontainer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tablecontainer table {
    border-collapse: collapse;
    width: var(--boardWith);
}

.tablecontainer tr {
    display: flex;
    height: 430px;
}

.tableCategories {
    height: unset !important;
}

.tablecontainer td {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 5px;
    width: 100%;
}

.tablecontainer td .taskContainer {
    height: 215px;
    width: 252px;
    border: 2px solid black;
    border-radius: 24px;
    margin-top: 5px;
}

.task:hover {
    cursor: pointer;
}

.tableCategories button {
    background-color: transparent;
    font-size: 20px;
    border-radius: 8px;
    color: var(--GlobalBlue);
}

.tableCategories button:hover {
    border: 2px solid var(--GlobalLightBlue);
    color: var(--GlobalLightBlue);
    cursor: pointer;
}

.highlightTask {
    height: 215px;
    width: 252px;
    border: 1px dotted var(--GlobalBorderColorGray);
    border-radius: 30px;
    margin-top: 5px;
}

.noTaskField {
    border-radius: 10px !important;
    border: 1px dotted var(--GlobalBorderColorGray) !important;
    height: 48px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: #E7E7E7 !important;
    color: var(--GlobalBorderColorGray) !important;
}

.rotate5deg {
    transform: rotate(5deg);
}

.noTaskFound {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--boardWith);
}

.displayNone {
    display: none !important;
}

.boardTaskCatagory {
    background-color: var(--taskLightBlue);
    color: var(--GlobalWhite);
    padding: 4px 16px 4px 16px;
    border-radius: 8px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    /* inline: Breite/Höhe ignoriert;
    nur Inhalt bestimmt den Platz. block: Belegt die ganze Zeile;
    beginnt auf neuer Zeile. inline-block: Bleibt in der Zeile, aber du kannst Breite/Höhe setzen.  */
    display: inline-block;
    width: fit-content;
    margin: 10px 10px 10px;
}

.marginleft10px{
    margin-left: 10px;
}

.boardTaskContent{
    color: var(--GlobalBorderColorGray);
}

.subtaskProgressbarC {
  width: 100%;
  background-color: grey;
}

.subtaskProgressbar {
  width: 1%;
  height: 30px;
  background-color: green;
}