/* CSS for logo-animation */
.logoAnimation {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--GlobalBackgroundWhite);
  animation: bgFade 900ms linear forwards;
  pointer-events: none;
  z-index: 100;
}

.logoAnimation img {
  height: 330px;
  animation: logoMove 900ms ease-in-out forwards;
}

@keyframes bgFade {
  to {
    background-color: transparent;
  }
}

@keyframes logoMove {
  to {
    height: 120px;
     translate: calc(-50vw + 80px + 49px) calc(-50vh + 80px + 60px);
  }
}


.contentWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* CSS for login-site */
h1 {
  text-align: center;
}

.loginMainContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginNav {
  display: flex;
  justify-content: flex-end;
  padding: 48px;
  margin-top: 22px;
  margin-right: 22px;
}

.loginNewUserWrapper {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 120%;
  gap: 16px;
}

.loginNewUserWrapper .ButtonBlueFilled {
  padding: 16px;
}

.loginCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--GlobalWhite);
  border-radius: 30px;
  padding-top: 48px;
  padding-right: 115px;
  padding-bottom: 48px;
  padding-left: 115px;
  gap: 32px;
  box-shadow: 0px 0px 14px 3px #0000000a;
}

.loginButtonsWrapper {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.loginCard .ButtonBlueFilled {
  padding: 12px 24px;
}

.loginInputs {
  width: 422px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loginFooter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 48px;
  width: 246px;
  height: 36px;
  text-align: center;
  line-height: 120%;
  font-size: 16px;
}

.loginFooterLink {
  padding: 8px;
  color: var(--GlobalBorderColorGray);
  cursor: pointer;
}

