body {
  background-color: var(--GlobalBackgroundWhite);
  font-family: inter;
}

@font-face {
  font-family: inter;
  font-weight: 700;
  src: url('../assets/fonts/Inter/static/Inter_18pt-Bold.ttf') format('truetype');
}

h1 {
  margin: 0;
  font-weight: 700;
  line-height: 1.2;
  font-size: 60px;
  text-align: center;
}

.login-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card-container {
}

.login-nav {
  display: flex;
  justify-content: space-between;
  padding: 48px;
  text-align: center;
}

.login-logo {
  height: 100px;
  margin-right: 8px;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.login-new-user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.login-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 30px;
  padding-top: 48px;
  padding-right: 115px;
  padding-bottom: 48px;
  padding-left: 115px;
  gap: 32px;
  box-shadow: 0px 0px 14px 3px #0000000a;
}

.login-buttons {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.login-inputs {
  width: 422px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#login-email,
#login-password {
  width: 100%;
  height: 48px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 40px;
  font-size: 20px;
  box-sizing: border-box;
}

.input-wrapper {
  position: relative;
}

.input-wrapper img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  pointer-events: none;
}

.login-inputs input {
  width: 100%;
  padding-right: 40px;
  box-sizing: border-box;
}

.login-footer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 48px;
  width: 246px;
  height: 36px;
  text-align: center;
}

.login-footer span {
  padding: 8px;
  color: #a8a8a8;
}
