/* CSS for logo-animation */
#logo-animation {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--GlobalBackgroundWhite);
  animation: bgFade 900ms linear forwards;
  pointer-events: none;
  z-index: 100;
}

#logo-animation img {
  height: 330px;
  animation: logoMove 900ms ease-in-out forwards;
}

@keyframes bgFade {
  to {
    background-color: transparent;
  }
}

@keyframes logoMove {
  to {
    height: 120px;
     translate: calc(-50vw + 80px + 49px) calc(-50vh + 80px + 60px);
  }
}


#content {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* CSS for login-site */
body {
  margin: 0;
  background-color: var(--GlobalBackgroundWhite);
  font-family: inter;
}

h1 {
  margin: 0;
  font-weight: 700;
  line-height: 1.2;
  font-size: 60px;
  text-align: center;
}

.login-main-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-nav {
  display: flex;
  justify-content: flex-end;
  padding: 48px;
  margin-top: 22px;
  margin-right: 22px;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.login-new-user-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.login-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 30px;
  padding-top: 48px;
  padding-right: 115px;
  padding-bottom: 48px;
  padding-left: 115px;
  gap: 32px;
  box-shadow: 0px 0px 14px 3px #0000000a;
}

.login-buttons {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.login-inputs {
  width: 422px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#login-email,
#login-password {
  width: 100%;
  height: 48px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 40px;
  font-size: 20px;
  box-sizing: border-box;
}

.input-wrapper {
  position: relative;
}

.input-wrapper img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  pointer-events: none;
}

.login-inputs input {
  width: 100%;
  padding-right: 40px;
  box-sizing: border-box;
}

#login-error {
    color: red;
    text-align: center;
    display: block;
}

.login-footer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 48px;
  width: 246px;
  height: 36px;
  text-align: center;
}

.login-footer span {
  padding: 8px;
  color: #a8a8a8;
}

