<!-- Sidebar Template -->
<aside class="sidebar" id="sidebar">
  <div class="sidebar-top">
    <img class="sidebar-logo" src="./assets/img/logoside.svg" alt="Join Logo" />
  </div>

  <nav class="nav">
    <a class="nav-item" href="./summary.html" data-page="summary">
      <span class="nav-icon">
        <img src="./assets/img/summary.svg" alt="Summary">
      </span>
      <span>Summary</span>
    </a>
    <a class="nav-item" href="./add_task.html" data-page="add_task">
      <span class="nav-icon">
        <img src="./assets/img/addtask.png" alt="Add Task">
      </span>
      <span>Add Task</span>
    </a>
    <a class="nav-item" href="./board.html" data-page="board">
      <span class="nav-icon">
        <img src="./assets/img/board.png" alt="Board">
      </span>
      <span>Board</span>
    </a>
    <a class="nav-item" href="./contacts.html" data-page="contacts">
      <span class="nav-icon">
        <img src="./assets/img/contacts.svg" alt="Contacts">
      </span>
      <span>Contacts</span>
    </a>
  </nav>

  <div class="sidebar-bottom">
    <a class="sidebar-link" href="./privacy.html">Privacy Policy</a>
    <a class="sidebar-link" href="./legal.html">Legal notice</a>
  </div>
</aside>